

<p>Les formulaires réactifs</p>

 <form [formGroup]="form" (ngSubmit)="onSubmit()"> <!-- ngSubmit se déclenche à chaque fois que le formulaire est envoyé -->

        <div>
            <label for="input-nom">nom</label>
            <input type="text" id="input-nom" formControlName="nom">
        </div>

        <div>
            <label for="input-age">age</label>
            <input type="number" id="input-age" formControlName="age">

        </div>

        <div>
            <label for="input-bouffe-pref">bouffe préférée</label>
            <select id="input-bouffe-pref" formControlName="bouffe-pref">
                <option value="pizza">pizza</option>
                <option value="pate">pate</option>
                <option value="gateau">gateau</option>
            </select>

        </div>
    

    <button type="submit">Envoyer</button>

</form>