form{
    background-color: rgb(243, 20, 20);
}

.ng-untouched{
    background-color: rgb(70, 245, 70);
}

.ng-touched {
    background-color: blue;
}

.ng-pristine{
    background-color: rgb(87, 233, 87);

}

form .ng-invalid{ /* si les enfants de form sont ng-invalid */
    border-color: red;
}



/*#input-produit.ng-dirty{
    background-color: blue;
}*/
